In [ ]:
#1
Scores = [35, 50, 20, 30, 55, 75, 90, 95, 66, 80]

for score in Scores:
    if score > 70:
        print("Distinction")
    elif 60 <= score <= 70:
        print("First Class")
    elif 50 <= score < 60:
        print("Second Class")
    elif 35 <= score < 50:
        print("Just Pass")
    else:
        print("Fail")

Just Pass
Second Class
Fail
Fail
Second Class
Distinction
Distinction
Distinction
First Class
Distinction

In [31]:
#2
x = {'Python': 600, 'Java': 400, 'Web_Tech': 550, 'OS': 450, 'IT': 700}

for book, price in x.items():
    if price > 500:
        print(f'Book: {book}, Price: {price}')

Book: Python, Price: 600
Book: Web_Tech, Price: 550
Book: IT, Price: 700

In [30]:
#3
list0 = [1, 2, 3, 4, 5, 6, 7]
[x**2 for x in list0]

[1, 4, 9, 16, 25, 36, 49]

In [13]:
#4
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
print(list1[0] + list2[0])
print(list1[1] + list2[0])
print(list1[0] + list2[1])
print(list1[1] + list2[1])

Hello Dear
take Dear
Hello Sir
take Sir

In [29]:
#5
list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [27]:
#6
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
x = 7000


list1[2][2].append(x)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [26]:
#7
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]


list1[2][1][2].extend(sub_list)

print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [25]:
#8
list1 = [5, 10, 15, 20, 25, 50, 20]
list1.remove(20)
list1.insert(3,200)
list1

[5, 10, 15, 200, 25, 50, 20]

In [18]:
#9
Player_game = {'Sachin': 'Cricket', 'Rahul': 'Cricket', 'Messi': 'Football', 'Federer': 'Tennis', 'Anand': 'Chess'}

for player, game in Player_game.items():
    if game == 'Cricket':
        print(player)

Sachin
Rahul

In [20]:
#10
list1 = [1, 2, 4, 5, 10, 20, 4, 5]

sum(list1)

51